<ion-view view-title="Articulation Abacus" ng-controller="abacusCtrl">
  <div ng-init="abacusLoader()" ng-show="loading.display"class="abacus-process">
		<div class="loadingbox abacus-centered vertical-middle">
			<span id="abacus_loading"></span><br /><span id="abacusLoadingText">{{loading.text}}</span>
		</div>
	</div>
  <ion-content>
	<div class="abacus-pie">
		<pie-chart data="pie.pie_guage_data" options="pie.pie_options"></pie-chart>
	</div>
  	<div class="list">	
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Training Provider
	    </div>
	    <select ng-model="abacus.provider" ng-change="checkQuals()" ng-options="v as v for (k, v) in abacus.providers">
	    </select>
	  </label>
	  <label class="item item-input item-select" ng-show="abacus.provider && abacus.notCombined">
	    <div class="input-label">
	      Qualification Studied
	    </div>	    
	    <select ng-model="abacus.course" ng-options="v as v for (k, v) in abacus.courses[abacus.provider]">
	    </select>
	  </label>
	  <li class="item item-checkbox" ng-show="abacus.course && abacus.notCombined">
	     <label class="checkbox">
	       <input ng-model="abacus.courseComplete" ng-change='abacusCourseSubjects()' type="checkbox">
	     </label>
	     I have completed this qualification
	  </li>
	  <div class="item item-divider" ng-hide="abacus.courseComplete">
	    Select Completed Subjects
	  </div>
	  <li class="item item-checkbox" ng-hide="abacus.courseComplete" ng-repeat="item in abacus.subjects">
	     <label class="checkbox">
	       <input type="checkbox" value="{{item}}" ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)">
	     </label>
	     {{item}}
	  </li>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      ECNH Qualification
	    </div>	    
	    <select ng-model="abacus.ecnhcourse" ng-options="k as v for (k, v) in abacus.ecnhcourses">
	    </select>
	  </label>
	  <!--<button class="button button-full button-positive" ng-disabled="abacus.submit" ng-click="abacusCalc()">
		    Calculate
		</button>-->
	</div>
	<div ng-show="abacus.results" class="list">
		
	  <div class="item item-divider">
	    Credited Subjects
	  </div>
	  
	  <div class="item" ng-repeat="item in abacus.results.courseCP" ng-class="{'item-energized' : item.SubjectType != 'Core'}">
	    {{item.SubjectCode}} - {{item.SubjectName}}
	  </div>
	  
	</div>
	  
	<div ng-show="abacus.results" class="list">
		
	  <div class="item item-divider">
	    Remaining Subjects
	  </div>
	  
	  <div class="item" ng-repeat="item in abacus.results.courseNP" ng-class="{'item-energized' : item.SubjectType != 'Core'}">
	    {{item.SubjectCode}} - {{item.SubjectName}}
	  </div>
	  
	</div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive" ng-click="abacusCalc()">
		<p class="title">Calculate<p>
  </ion-footer-bar>
</ion-view>