<ion-view view-title="Abacus History">
  <ion-content ng-controller="abacusHistoryCtrl">
	<div class="list">
		<a class="item item-thumbnail-left" ng-repeat="(id, item) in abacushistory.submits" href="#/app/abacushistory/{{item.$id}}" ng-show="item.display == 1">
			<div class="pie-cont-left">
				<pie-chart data="[{label: 'Credit', value: item.percentage, suffix: '%', color: 'steelblue'}]" options="{thickness: 5, mode: 'gauge', total: 100}"></pie-chart>
			</div>
		    <h2>{{item.endeavour_course}}</h2>
		    <p>{{item.training_provider}}</p>
		    <p>{{item.trainer_course}}</p>
  		</a>
	</div>
  </ion-content>
</ion-view>
