<ion-nav-view>
  <ion-view view-title="Login">
      <ion-content ng-controller="loginCtrl">
	  	
	  	<h1>Articulation Abacus</h1>
		
	  	
	  	<div ng-hide="authData" class="card" ng-click="openModal()">
		  <button class="item">
		  Log In with Email	  
		  </button>
		</div>
	  	
	    <div ng-hide="authData" class="card" ng-click="fireloginfacebook()">
		  <button class="item">
		  Log In with Facebook
		  </button>
		</div>
		
		<a href="#/demo">What is the Abacus?</a>
		
		<div class="card" ng-show="authData">
		  <div class="item item-text-wrap">
		    Hello {{displayName}}!
		  </div>
		</div>
		
		<div ng-show="authData" class="card" ng-click="firelogout()">
		  <button class="item">
		  Log Out
		  </button>
		</div>
		
	  </ion-content>
  </ion-view>
</ion-nav-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Log In with Email</h1>
      <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
      <p ng-show="user.create || user.forgot" class="text-center">
            <a ng-click="canceluserBtn()">Cancel</a>
      </p>
      <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="user.username">
          </label>
          <label ng-hide="user.forgot" class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>
          <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">First Name</span>
		    <input type="text" placeholder="First Name" ng-model="user.firstname">
		  </label>
		  <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">Last Name</span>
		    <input type="text" placeholder="Last Name" ng-model="user.lastname">
		  </label>
		  <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">Phone</span>
		    <input type="text" placeholder="Phone" ng-model="user.phone">
		  </label>
		  <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">Country</span>
		    <input type="text" placeholder="Country" ng-model="user.country">
		  </label>
		  <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">State</span>
		    <input type="text"  placeholder="State" ng-model="user.state">
		  </label>
		  <label ng-show="user.create" class="item item-input item-stacked-label">
		    <span class="input-label">Postcode</span>
		    <input type="text" placeholder="Postcode" ng-model="user.postcode">
		  </label>
	  </div>
      <div class="padding">
    	<button ng-hide="user.create || user.forgot" class="button button-block button-positive" ng-click="fireloginuser()">
            Sign-In
        </button>
        <button ng-show="user.create" class="button button-block button-positive" ng-click="firecreateuser()">
            Create & Sign In
        </button>
        <button ng-show="user.forgot" class="button button-block button-positive" ng-click="fireforgotuser()">
            Send Reset Email
        </button>
        <p ng-hide="user.create || user.forgot" class="text-center">
            <a ng-click="createuserBtn()">Create Account</a>
        </p>
        <p ng-hide="user.create || user.forgot" class="text-center">
            <a ng-click="forgotuserBtn()">Forgot Password</a>
        </p>
    </div>
    </ion-content>
  </ion-modal-view>
</script>
