<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <ion-footer ng-show="false">
  	<div class="tabs tabs-icon-top">
	  <a class="tab-item" href="#/app/abacus">
	    <i class="icon ion-ios-calculator"></i>
	    Abacus
	  </a>
	  <a class="tab-item" href="#/app/abacushistory">
	    <i class="icon ion-ios-list"></i>
	    History
	  </a>
	  <a class="tab-item" href="#/app/account">
	    <i class="icon ion-ios-person"></i>
	    Account
	  </a>
	</div>
  </ion-footer>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--<ion-item menu-close href="#/app/login">
          Login
        </ion-item>-->
        <ion-item menu-close href="#/app/abacus">
          Articulation Abacus
        </ion-item>
        <ion-item menu-close href="#/app/abacushistory">
          Abacus History
        </ion-item>
        <ion-item menu-close href="#/app/demo">
          Abacus Demo
        </ion-item>
        <ion-item menu-close href="#/app/account">
          Account
        </ion-item>
        <!--<ion-item menu-close href="#/app/svg">
          Loader Animation
        </ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
